.kc-wrapper {
  background-color: #CBCBCB;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .kc-fp--wrapper {
    background-color: $neutral1;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
  
    .kc-fp--content {
      width: 420px;
      padding: 0 10px;
  
      h2 {
        margin: 0 0 30px 0;
        text-align: center;
      }
  
      .kc-fp--text {
        color: $textLight7;
        text-align: center;
      }

      .kc-input {
        margin-bottom: 15px;
      }
  
      .kc-login-box--caption {
        width: 100%;
  
        .kc-caption {
          color: $neutral13;
          font-style: italic;
          opacity: 0.5;
  
          a:link {
            color: $neutral13;
            font-weight: 700;
            text-decoration: underline;
            opacity: 1;
          }
        }
      }
    }
  }
}
