$neutral1: #FFFFFF;
$neutral2: #FAFAFA;
$neutral3: #F5F5F5;
$neutral4: #F0F0F0;
$neutral5: #D9D9D9;
$neutral6: #BFBFBF;
$neutral7: #8C8C8C;
$neutral8: #595959;
$neutral9: #434343;
$neutral10: #262626;
$neutral11: #1F1F1F;
$neutral12: #141414;
$neutral13: #000000;

$textLight1: $neutral2;
$textLight2: $neutral3;
$textLight3: $neutral4;
$textLight4: $neutral5;
$textLight5: $neutral6;
$textLight6: $neutral7;
$textLight7: $neutral8;
$textLight8: $neutral10;

$textDark1: #1D1D1D;
$textDark2: $neutral10;
$textDark3: #303030;
$textDark4: $neutral9;
$textDark5: #5A5A5A;
$textDark6: #7D7D7D;
$textDark7: #ACACAC;
$textDark8: #DBDBDB;

$primary4: #F58C8D;
$primary5: #E85F66;
$primary6: #DC3644;
$primary7: #B52435;
$primary8: #8F1528;

$secondary4: #69C0FF;
$secondary5: #40A9FF;
$secondary6: #1890FF;
$secondary7: #096DD9;
$secondary8: #0050B3;

$functionalError: #FF4D4F;
$functionalWarning: #FAAD14;
$functionalSuccess: #52C41A;
$functionalLink: #1890FF;
